@import "_custom-properties.css";

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.button,
.button:visited,
.button:active,
.entry-content .button {
	display: inline-block;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	text-align: center;
	color: var(--color-theme-white);
	border: 0.2em solid var(--color-theme-white);
	background-color: var(--color-theme-yellow);
	padding: 0.6em 0.6em;
	margin: 0.5em;
	transition: background-color 0.2s, box-shadow 0.2s;
	box-shadow: var(--global-drop-shadow);
	min-width: 15em;
}

.button.button-green,
.button:visited.button-green,
.button:active.button-green {
	background-color: var(--color-theme-green);

}

.button:hover,
.button:focus {
	background-color: var(--color-theme-yellow-dark);
	box-shadow: var(--global-drop-shadow-raised);
	transition: transform 0s, box-shadow 0.1s;
	text-decoration: none;
	color: var(--color-theme-white);
}

.button:hover.button-green,
.button:focus.button-green {
	background-color: var(--color-theme-darkgreen);
}

.button:active {
	transform: translateY(2px);
	box-shadow: var(--global-drop-shadow-lowered);
}

.button:focus {
	outline-color: var(--color-theme-yellow-dark);
}
