@import "_custom-properties.css";

/*--------------------------------------------------------------
# Program Cards
--------------------------------------------------------------*/

.program-cards {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

@media (--content-query) {
	.program-cards {
		flex-flow: row wrap;
	}
}

.program-cards .card {
	background-color: var(--color-theme-white);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 30em;
	box-shadow: var(--global-drop-shadow-raised);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.program-cards .card.popular {
	background-color: var(--color-theme-off-white);
	z-index: 5;
}

.program-cards .card.popular .icon {
	background-color: transparent;
}

@media (--content-query) {
	.program-cards .card {
		/* width: auto; */
		flex-basis: 20em;
		flex-grow: 1;
	}
}

/* Getting the popular card to display in the middle/top */

.program-cards .card:not(.popular),
.program-cards .card:not(.popular):nth-child(2) {
	order: 1;
}

.program-cards .card.popular-tag {
	order: 0;
}

@media (--content-query) {

	.program-cards .card:not(.popular) {
		order: 1;
	}

	.program-cards .card:not(.popular):last-child {
		order: 3;
	}

	.program-cards .card.popular {
		order: 2;
	}
}

.program-cards .card .popular-tag {
	background-color: var(--color-theme-green);
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	padding: 0.5em;
	width: 100%;
	text-align: center;
}

.program-cards .card header {
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.program-cards .card .icon {
	flex-basis: 3em;
	margin-right: .5em;
}

.program-cards .card header .icon svg * {
	fill: var(--color-theme-green);
}

.program-cards .card header .program-title {
	font-size: 1.4em;
	color: var(--color-theme-green);
}

.program-cards .card header .program-subtitle {
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	width: 100%;
	font-size: 2.6em;
	margin: 2rem auto;
	line-height: 1;
}

.program-cards .card .pricing {
	margin-bottom: 2rem;
}

.program-cards .card .pricing .price {
	font-family: var(--highlight-font-family);
	font-weight: 600;
	color: var(--color-theme-green);
	font-size: 3.5em;
}

.program-cards .card .pricing .small-price {
	color: var(--color-theme-green);
	font-size: 0.3em;
	vertical-align: super;
}

.program-cards .card .pricing .small {
	display: block;
}
