@import "_custom-properties.css";

/*--------------------------------------------------------------
# Related Posts
--------------------------------------------------------------*/

.after-main .related-posts {
	padding: 0 1.5rem;
}

.after-main .post-list {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sidebar .post-list .title::after {
	display: none;
}