/**
 * Custom styles for the home.php template.
 */


.entry-header {
	display: block;
}

.entry-footer {
	border-bottom: 0;
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blog-posts .entry {
	flex-basis: 20em;
}
