/**
 * Custom styles for the home.php template.
 */

 .site {
	grid-template-areas:
		"header"
		"page-header"
		"featured-article"
		"main"
		"sidebar"
		"footer";
}

@media (--sidebar-query) {

	.has-sidebar .site {

		grid-template-areas:
			"header header header header"
			"page-header page-header page-header page-header"
			"featured-article featured-article featured-article featured-article"
			". main sidebar ."
			"footer footer footer footer";
	}

}

.featured-article {
	grid-area: featured-article;
	grid-template-columns: auto;
	max-width: var(--content-width-wide);
	margin: 1rem auto 5rem;
	display: grid;
	gap: 2rem;
}

.featured-article .featured-header,
.blog-header {
	text-align: center;
}

.featured-article .featured-heading,
.blog-heading {
	font-size: 2.6rem;
	margin: 0;
}


.featured-article .thumbnail {
	flex-grow: 1;
	flex-shrink: 1;
	align-self: center;
	overflow: hidden;
	overflow: hidden;
	display: grid;
	place-content: center;
}

.featured-article .thumbnail .featured-image {

}

.featured-article .content {
	flex-grow: 2;
	flex-shrink: 1;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.featured-article .excerpt {
	margin: 1rem auto;
}

.featured-article .post-title {
	text-align: center;
	color: var(--color-theme-darkgreen);
	font-family: var(--global-font-family);
	margin: 0;
}

@media (--content-query) {

	.featured-article {
		grid-template-areas:
			"thumbnail header"
			"thumbnail content";
			grid-template-columns: minmax(20rem,50%) minmax(30em,40em) minmax(0,1fr);
		row-gap: 1rem;
	}

	.featured-article .featured-header {
		grid-area: header;
		place-self: flex-end flex-start;
	}

	.featured-article .thumbnail {
		grid-area: thumbnail;
		height: 350px;
	}

	.featured-article .thumbnail .featured-image {
		max-width: 150vw;
	}

	.featured-article .content {
		grid-area: content;
		max-width: 40em;
		text-align: left;
		padding-left: 0rem;
	}

	.featured-article .featured-header,
	.featured-article .post-title,
	.blog-header,
	.blog-header .subtitle {
		text-align: left;
	}

}

 .page-header {
	background-image:url(../images/grass.jpg);
 }

.entry-header {
	display: block;
}

.entry-footer {
	border-bottom: 0;
}

.read-more {
	font-weight: 600;
}

.blog-header {
	margin-bottom: 3rem;
}

.blog-heading {
	padding: 0 1.5rem;
}

@media (--content-query) {

	.blog-header hr {
		margin-left: 1.5rem;
	}

}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
	margin-bottom: 3rem;
}

.blog-posts .post-card {
	position: relative;
	background: var(--color-theme-off-white);
	flex-basis: 20em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow: var(--global-drop-shadow);
	max-width: 20em;
}

.blog-posts .post-card:hover {
	box-shadow: var(--global-drop-shadow-raised);
}

.post-card .thumbnail {
	max-width: 100%;
	max-height: 160px;
	overflow: hidden;
	display: grid;
	place-content: center;
}

.post-card .thumbnail .featured-image {
	max-width: none;
	max-height: 160px;
	transition: max-height 0.25s;
}

.blog-posts .post-card:hover .thumbnail .featured-image {
	max-height: 180px;
}

.blog-posts .card-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.blog-posts .entry .entry-title {
	font-family: var(--global-font-family);
	padding: 0 1em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-posts .post-card:hover .entry-title a {
	color: var(--color-theme-highlight);
}
