/**
 * Custom styles for the front-page.php template.
 */

@import "_program-cards.css";

.hero {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, auto) 1fr;
	align-content: center;
	justify-content: center;
	background: var(--color-theme-secondary);
	padding: 4rem 1em;
	height: auto;
	min-height: 75vh;
	max-height: 800px;
	background-size: cover;
	background-position: center;
}

.hero > * {
	grid-column: 2/2;
	justify-self: center;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero p {
	color: var(--color-theme-white);
	text-align: center;
	text-shadow: 0 0 1rem var(--color-dropshadow-heavy);
	margin: 0.5rem auto;
}

.hero .main-title {
	font-size: 3.5em;
	line-height: 1.2;
	font-weight: 400;
}

.hero .secondary-title {
	font-size: 1.2em;
	font-family: var(--font-theme-secondary);
	font-weight: 300;
}

@media (--content-query) {

	.main-title {
		font-size: 5em;
	}

	.secondary-title {
		font-size: 1.4em;
	}

	.hero .main-title {
		font-size: 4.5em;
	}

	.hero .secondary-title {
		margin-bottom: 1rem;
	}

}

.home-section header {
	padding: 0 1em;
	text-align: center;
}

.home-section header hr {
	margin: 2rem auto;
}

.home-section header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.home-section header h3 {
	margin: 0;
	font-size: 2em;
}

.home-section .pull-left h3.underlined::after {
	margin-left: 0;
}

.home-section {
	margin: 2rem auto;
}

@media (--content-query) {

	.home-section header h3 {
		font-size: 2.6em;
	}

	.home-section header h4 {
		font-size: 1.25em;
	}

}

/* Services/Map */
.home-section.services-map {
	display: grid;
	column-gap: 2rem;
}

@media (--content-query) {

	.home-section.services-map {
		display: grid;
		grid-template-columns: 6fr 4fr;
		column-gap: 2rem;
	}
}

.tab-header {
	position: relative;
	text-align: center;
	background: var(--color-theme-green);
	height: 3rem;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (--content-query) {

	.tab-header {
		margin-top: -5rem;
		display: grid;
	}

}

.tab-header__heading {
	margin: 0;
	position: relative;
	color: var(--color-theme-white);
	font-size: 1.5em;
}

@media (--content-query) {

	.home-section .tab-header__heading {
		font-size: 1.5em;
	}
}

/* Program Cards */
.program-cards {
	margin: 1rem auto;
}

.program-cards .card {
	padding-bottom: 0;
	flex-basis: 10em;
	position: relative;
}

.program-cards .card.popular {
	flex-grow: 2;
	background: var(--color-theme-off-white);
	z-index: 10;
	padding-bottom: 2rem;
}

.program-cards .card .popular-tag {
	font-size: 1em;
	font-family: var(--global-font-family);
}

.program-cards .card header {
	flex-direction: column;
	justify-content: space-around;
}

.program-cards .card a.fullcard-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.program-cards .card .icon {
	margin: 1em auto;
}

.program-cards .card header .program-title {
	font-family: var(--global-font-family);
	font-size: 1em;
	margin: 0.5em auto;
}

.program-cards .card header .program-subtitle {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0.5em auto;
}

.service-plan-cards,
.service-extra {
	grid-column: 1;
}

.service-plans-content {
	grid-column: 1/-1;
	padding: 0 1rem;
}

.service-plans-content header {
	text-align: left;
	padding-left: 0;
}

.service-plans-content header hr {
	margin: 0;
}

.find-location {
	/* display: none; */
}

@media (--content-query) {

	.find-location {
		display: block;
		grid-column: 2;
		grid-row: 1/span 3;
	}
}

.service-extra {
	display: flex;
	gap: 1rem;
	padding: 1em;
}

.service-extra .icon {
	box-shadow: var(--global-drop-shadow);
	width: 5rem;
	height: 5rem;
}

.find-location {
	text-align: center;
}

.find-location .map {
	grid-column: 2;
	background-color: var(--color-theme-off-white);
	min-height: 400px;
}


.home-section.senske-difference {
	box-shadow:
		inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5),
		inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	padding: 3rem 0;
	width: 100%;
}

@media (--content-query) {

	.home-section.senske-difference {
		padding: 4rem 0;

	}
}

.home-section.senske-difference > * {
	max-width: var(--content-width);
	margin: auto;
}

/* Questions */
.senske-difference .title,
.senske-difference .subtitle {
	text-align: center;
}

.grid-container {
	display: grid;
	row-gap: 1em;
}

@media (--content-query) {

	.grid-container {
		grid-template-areas: "image card" "image card" "content content";
		grid-template-columns: 6fr 4fr;
		column-gap: 2em;
		align-items: center;
	}
}

.grid-container .image-box {
	grid-row: 1;
}

.grid-container .image-box img {
	margin: auto;
}

@media (--content-query) {

	.grid-container .image-box {
		grid-area: image;
		position: relative;
	}

	.grid-container .image-box::after {
		content: '';
		background: url(../images/senske-guarantee-family-owned.png);
		width: 8em;
		height: 8em;
		background-size: contain;
		background-repeat: no-repeat;
		top: -2em;
		left: -1em;
		position: absolute;
	}
}

.grid-container .content {
	grid-row: 2;
	padding: 0 1em;
}

@media (--content-query) {

	.grid-container .content {
		grid-area: content;
	}
}

.grid-container .card {
	grid-row: auto;
	padding: 1em;
	margin: 0 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1em;
	background-color: var(--color-theme-off-white);
	box-shadow: var(--global-drop-shadow-raised);
}

.grid-container .card ul {
	margin-bottom: 0.5rem;
}

@media (--content-query) {

	.grid-container .card {
		grid-column: card;
		margin: 0;
	}
}

.grid-container .card h4 {
	margin: 0.5rem auto;
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
}

/* icon */
.program-cards .icon {
	max-width: 8em;
	padding: 1em;
	border-radius: 50%;
	box-shadow: var(--global-drop-shadow);
}

.program-cards .icon svg .cls-1 {
	fill: var(--color-theme-green);
}

/* Questions */
.questions .title,
.questions .subtitle {
	text-align: center;
}

@media (--content-query) {

	.questions .entry-content {
		max-width: 40em;
		margin: auto;
	}
}

.expert-cards {
	margin: 2rem auto;
}

.expert-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: var(--global-drop-shadow);
	flex-basis: 20em;
	flex-grow: 0;
	align-items: center;
	margin: 1em auto;
	max-width: 25em;
	position: relative;
	transition: box-shadow 0.1s;
}

.expert-card:hover {
	box-shadow: 0 0 4px rgba(28, 40, 51, 0.2);
    box-shadow: var(--global-drop-shadow-raised);
}

.expert-card .image-box {
	overflow: hidden;
	max-height: 200px;
	display: grid;
	grid-template-areas: "image" "secondary";
	position: relative;
	margin-bottom: 5rem;
}

.expert-card .image-box .card-image {
	grid-area: image;
	justify-self: center;
	align-self: center;
}

.expert-card .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.expert-card .secondary-image {
	border-radius: 50%;
	height: 8em;
	width: 8em;
	border: 0.3rem solid var(--color-theme-white);
	grid-area: secondary;
	position: absolute;
	overflow: hidden;
}

.expert-card .expert-title,
.expert-card .expert-name {
	margin: 0.5em auto;
}

.expert-card .expert-title {
	font-size: 1.5em;
}

.expert-card .expert-name {
	font-size: 1.1em;
	font-family: var(--global-font-family);
	margin-bottom: 1.5rem;
}

@media (--content-query) {

	.expert-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
	}

	.expert-card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.featured-article {
	display: flex;
	flex-direction: column;
}

.advice .featured-article .content {
	order: 2;
	padding: 0 1em;
}

.advice .featured-article .post-title {
	font-size: 1.5em;
	text-align: center;
}

.advice .featured-article .button {
	order: 3;
	max-width: 20em;
	margin: 1rem auto;
}

.advice .featured-article .thumbnail img {
    margin: auto;
	order: 1;
}

@media (--content-query) {

	.featured-article {
		display: grid;
		grid-template-areas: "content image" "button button";
		gap: 2em;
	}

	.advice .featured-article .content {
		grid-area: content;
	}

	.advice .featured-article .button {
		grid-area: button;

	}
}
