/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_buttons.css";
@import "_icons.css";
@import "_forms.css";
@import "_mega-menu";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	display: grid;
	grid-template-areas:
		"header"
		"page-header"
		"main"
		"sidebar"
		"after-main"
		"footer";
	margin: 0 auto;
	max-width: 100%;
	min-height: 100vh;
}

.site-header {
	grid-area: header;
}

.page-header {
	grid-area: page-header;
}

.site-main {
	grid-area: main;
}

.site-footer {
	grid-area: footer;
}

.primary-sidebar {
	grid-area: sidebar;
}

.after-main {
	grid-column: after-main;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		display: grid;
		grid-template-columns: 1fr minmax(0, var(--content-width)) min-content 1fr;
		grid-template-areas:
			"header header header header"
			"page-header page-header page-header page-header"
			". main sidebar ."
			". after-main after-main ."
			"footer footer footer footer";
		column-gap: 1em;
		min-height: 100vh;
	}

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	display: grid;
	grid-template-columns: 1fr minmax(0,calc(var(--content-width)/5)) minmax(0,calc(4*var(--content-width)/5)) 1fr;
	grid-template-areas: "top top top top" ". branding nav .";
	column-gap: 1em;
	position: sticky;
	top: 0;
	background: var(--color-theme-white);
	z-index: 100;
	box-shadow: 0 0 0 #3333;
	transition: 0.25s box-shadow;
	border-top: 6px solid var(--color-theme-primary);
}

.site-header.sticky {
	box-shadow: 0 0 6px #3333;
}

@media (--wide-menu-query) {

	.site-header{
		border-top: none;
	}
}

.top-bar {
	display: none;
}

@media (--wide-menu-query) {

	.top-bar {
		display: block;
		grid-area: top;
		background-color: var(--color-theme-primary);
		max-height: 100vh;
		padding: 1rem;
		transition: 0.25s padding;
	}

	.sticky .top-bar {
		padding: 0.5rem 1rem;
	}

	.top-bar .links {
		max-width: var(--content-width);
		display: flex;
		justify-content: end;
		list-style: none;
		padding: 0;
		margin: auto;
	}

	.top-bar .links li {
		margin: 0 0.5em;
	}

	.top-bar .links a {
		color: var(--color-theme-white);
		text-decoration: none;
		font-size: 0.8em;
	}

}

.site-branding {
	grid-area: branding;
}

@media (--wide-menu-query) {
	.site-branding {
		margin-top: -2.2rem;
	}
}

.main-navigation {
	max-width: 60em;
	grid-area: nav;
	align-items: center;
	align-self: stretch;
	display: flex;
	justify-content: flex-end;
}


.top-bar .links .phone {
	font-weight: 600;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 1em auto 1em;
	max-width: 100%;
	transition: 0.25s max-width, .25s margin, .25s
}

.sticky .custom-logo-link {
	margin: .5rem auto .5rem;
	max-width: 10rem;
}

@media (--wide-menu-query) {
	.custom-logo-link {
		margin: 0 auto 1em;
		transition: 0.25s max-width, .25s margin, .25s transform;
	}

	.custom-logo-link:hover{
		transform: scale(1.05);
	}

	.sticky .custom-logo-link {
		max-width: 10em;
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	margin: 0 auto 2em;
	max-width: calc(var(--content-width) / 2);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 2.25em;
	line-height: 2;
	text-align: center;
	text-decoration: none;
	font-family: var(--global-font-family);
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
	color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	order: 10;
	width: 40%;
	margin-top: 1rem;
}

@media (--content-query) {
	.pagination .prev,
	.pagination .next {
		order: initial;
		width: auto;
		margin-top: 0;
	}
}

.pagination .next:hover,
.pagination .prev:hover {
	text-decoration: underline;
}


.pagination .prev::before,
.pagination .next::after,
.nav-links .nav-previous a::before,
.nav-links .nav-next a::after {
	content: "";
	height: 1em;
	width: 1em;
	background: url(../images/triangle.png);
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	margin: 0.5em;
	transition: transform 0.1s ease-in;
}


.pagination .next::after,
.nav-links .nav-next a::after {
	transform: rotate(90deg) translateY(0);;
}

.pagination .next:hover::after,
.nav-links .nav-next a:hover::after {
	transform: rotate(90deg) translateY(-0.25em);
}

.pagination .prev::before,
.nav-links .nav-previous a::before {
	transform: rotate(-90deg) translateY(0);
}

.pagination .prev:hover::before,
.nav-links .nav-previous a:hover::before  {
	transform: rotate(-90deg) translateY(-0.25em);
}


.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--color-theme-secondary);
	background-color: var(--color-theme-secondary);
	color: var(--color-theme-white);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0 0;
	font-family: var(--global-font-family);
	font-stretch: condensed;
	background-color: var(--color-theme-primary);
	padding-top: 20px;
	color: var(--color-theme-white);
}

.site-footer .footer-content {
	max-width: var(--content-width-wide);
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.footer-content > * {
    /* margin: auto; */
}

.site-footer .footer-content h4 {
	margin-top: 0;
}

@media (--content-query) {
	.site-footer .footer-content {
		flex-direction: row;
		align-items: flex-start;
	}
}

.site-footer .connect {
	text-align: center;
	flex-grow: 1;
	margin-bottom: 1rem;
	order: 3;
}

@media (--content-query) {
	.site-footer .connect {
		order: 0;
	}
}


.site-footer .connect .seal {
	max-width: 10em;
	margin: 1em auto;
}

.site-footer .footer-content .find {
	padding-left: 0;
	flex-grow: 2;
	order: 1;
	padding-bottom: 1rem;
	border-bottom: 3px solid var(--color-theme-mediumgreen);
}

.site-footer .footer-content .services{
	order: 2;
}

@media (--content-query) {

	.site-footer .footer-content .find {
		padding-left: 10%;
		padding-right: 1em;
		border-bottom: none;
		flex-grow: 3;
	}

	.site-footer .footer-content .services-links {
		border-right: .2rem solid var(--color-theme-mediumgreen);
		padding-right: 3rem;
		flex-grow: 1;
		order: 1;
	}
}

.site-footer .footer-content .services-list,
.site-footer .footer-content .locations-list{
	list-style: none;
	padding: 0;
	max-width: 20em;
}

.site-footer .footer-content a {
	text-decoration: none;
	color: var(--color-theme-white);
}

.site-footer .footer-content a:hover {
	text-decoration: underline;
}

.site-footer .footer-content .locations-list {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	justify-content: space-between;
}

@media (--content-query) {

	.site-footer .footer-content .locations-list {
		max-width: 40em;
	}
}

@media (--sidebar-query) {
	.site-footer .footer-content .locations-list {
		justify-content: flex-start;
		flex-direction: column;
		max-height: 15em;
	}
}


.site-footer .footer-content .locations-list > li {
	font-weight: 600;
}

.site-footer .footer-content .locations-list > li a {
	font-weight: 300;
}

.site-footer .footer-content .locations-list ul {
	list-style: none;
}

.site-footer h4 {
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
	margin-bottom: 1rem;
}


.site-footer .find h4 {
	text-align: center;
}

@media (--sidebar-query) {
	.site-footer .find h4 {
		text-align: left;
	}
}

.site-footer .connect .phone {
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
	font-weight: 600;
	margin: 1em auto;
	display: block;
}

.site-info {
	text-align: center;
	background-color: var(--color-theme-darkgreen);
	font-size: 0.8em;
	padding: 0.5em;
}

.site-info .footer-content {
	justify-content: space-evenly;
	align-items: center;
}

.site-info a{
	color: var(--color-theme-white);
}

.site-info .footer-logo {
	max-width: 5em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 1em;
}

/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/


.primary-sidebar .location-card {
	min-width: 20em;
	position: sticky;
	top: 70px
}

.locations .locations-list {
	display: flex;
	gap: .5em 0;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 14em;
}

@media (--content-query){
	.locations .locations-list {
		max-height: 10em;
	}
}

/* Social */
.social-links {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 18em;
	padding: 0 1em;
	margin: auto;
}

.social-icon {
	margin: auto;
	max-width: 2em;
	transition: transform .2s;
}

.social-links .social-icon:hover {
	transform: scale(1.1);
}


#yotpo_testimonials_btn {
	display: none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
