/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_buttons.css";
@import "_icons.css";
@import "_forms.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"sidebar"
		"footer";
	margin: 0 auto;
	max-width: 100%;
	min-height: 100vh;
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
}

.site-footer {
	grid-area: footer;
}

.primary-sidebar {
	grid-area: sidebar;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		display: grid;
		grid-template-columns: 1fr minmax(0, var(--content-width)) min-content 1fr;
		grid-template-areas:
			"header header header header"
			". main sidebar ."
			"footer footer footer footer";
		column-gap: 1em;
		min-height: 100vh;
	}

}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	display: grid;
	grid-template-columns: 1fr minmax(0,calc(var(--content-width)/5)) minmax(0,calc(4*var(--content-width)/5)) 1fr;
	grid-template-areas: "top top top top" ". branding nav .";
	column-gap: 1em;
	position: sticky;
	top: 0;
	background: var(--color-theme-white);
	z-index: 100;
	box-shadow: 0 0 0 #3333;
	transition: 0.25s box-shadow;
	border-top: 6px solid var(--color-theme-primary);
}

.site-header.sticky {
	box-shadow: 0 0 6px #3333;
}

@media (--wide-menu-query) {
	.site-header{
		border-top: none;
	}
}

.top-bar {
	display: none;
}

@media (--wide-menu-query) {
	.top-bar {
		display: block;
		grid-area: top;
		background-color: var(--color-theme-primary);
		max-height: 100vh;
		padding: 1rem;
		transition: 0.25s padding;
	}

	.sticky .top-bar {
		padding: 0.5rem 1rem;
	}

	.top-bar .links {
		max-width: var(--content-width);
		display: flex;
		justify-content: end;
		list-style: none;
		padding: 0;
		margin: auto;
	}

	.top-bar .links li {
		margin: 0 0.5em;
	}

	.top-bar .links a {
		color: var(--color-theme-white);
		text-decoration: none;
		font-size: 0.8em;
	}

}

.site-branding {
	grid-area: branding;
}

@media (--wide-menu-query) {
	.site-branding {
		margin-top: -2.2rem;
	}
}

.main-navigation {
	max-width: 60em;
	grid-area: nav;
	align-items: center;
	align-self: stretch;
}


.top-bar .links .phone {
	font-weight: 600;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 1em auto 1em;
	max-width: 100%;
	transition: 0.25s max-width, .25s margin, .25s
}

.sticky .custom-logo-link {
	margin: .5rem auto .5rem;
	max-width: 10rem;
}

@media (--wide-menu-query) {
	.custom-logo-link {
		margin: 0 auto 1em;
		transition: 0.25s max-width, .25s margin, .25s transform;
	}

	.custom-logo-link:hover{
		transform: scale(1.05);
	}

	.sticky .custom-logo-link {
		max-width: 10em;
	}
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0 auto;
	border: none;
	background: transparent;
	width: 4rem;
	max-width: none;
	min-width: 0;
	height: 4rem;
	padding: 0.2rem;
	margin-right: .5rem;
}

.nav--toggle-small .menu-toggle .menu-icon {
	width: 100%;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.nav--toggle-small .menu-toggle .menu-icon span {
	height: 0.4rem;
	width: 100%;
	display: block;
	margin: 0.3rem auto;
	background-color: var(--color-theme-green);
	pointer-events: none;
	opacity: 1;
	transition: opacity .2s, height 0.2s, width 0.2s, transform 0.2s;
	transform-origin: center;
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(2) {
	width: 0;
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(1) {
	transform: translateY(1rem) rotate(45deg);
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(3) {
	transform: translateY(-1rem) rotate(-45deg);
}

.nav--toggle-small .menu {
	display: none;
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
	}
}

@media (--wide-menu-query) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #fff;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 100;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid var(--border-color-dark);
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	padding: 0 1em;
	font-family: var(--global-font-family);
	font-stretch: condensed;
	font-weight: 600;
}

#menu-item-43 {
	background-color: var(--color-theme-yellow);
	color: var(--color-theme-white);
}

#menu-item-43 a {
	color: var(--color-theme-white);
	padding: 0.5em;
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	color: var(--global-font-color);
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 600;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	margin: 0 auto 2em;
	max-width: calc(var(--content-width) / 2);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--border-color-dark);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0 0;
	font-family: var(--global-font-family);
	font-stretch: condensed;
	background-color: var(--color-theme-primary);
	padding-top: 20px;
	color: var(--color-theme-white);
}

.site-footer .footer-content {
	max-width: var(--content-width-wide);
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.footer-content > * {
    /* margin: auto; */
}

.site-footer .footer-content h4 {
	margin-top: 0;
}

@media (--content-query) {
	.site-footer .footer-content {
		flex-direction: row;
		align-items: flex-start;
	}
}

.site-footer .connect {
	text-align: center;
	flex-grow: 1;
	margin-bottom: 1rem;
	order: 3;
}

@media (--content-query) {
	.site-footer .connect {
		order: 0;
	}
}


.site-footer .connect .seal {
	max-width: 10em;
	margin: 1em auto;
}

.site-footer .footer-content .find {
	padding-left: 0;
	flex-grow: 2;
	order: 1;
	padding-bottom: 1rem;
	border-bottom: 3px solid var(--color-theme-mediumgreen);
}

.site-footer .footer-content .services{
	order: 2;
}

@media (--content-query) {

	.site-footer .footer-content .find {
		padding-left: 4em;
		padding-right: 1em;
		border-bottom: none;
		flex-grow: 2;
	}

	.site-footer .footer-content .services{
		border-right: .2rem solid var(--color-theme-mediumgreen);
		padding-right: 3rem;
		flex-grow: 1;
		order: 1;
	}
}

.site-footer .footer-content .services-list,
.site-footer .footer-content .locations-list{
	list-style: none;
	padding: 0;
	max-width: 20em;
}

.site-footer .footer-content a {
	text-decoration: none;
	color: var(--color-theme-white);
}

.site-footer .footer-content a:hover {
	text-decoration: underline;
}

.site-footer .footer-content .locations-list {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	justify-content: space-between;
}

@media (--content-query) {

	.site-footer .footer-content .locations-list {
		max-width: 40em;
	}
}
.site-footer .footer-content .locations-list > li {
	font-weight: 600;
}

.site-footer .footer-content .locations-list > li a {
	font-weight: 300;
}

.site-footer .footer-content .locations-list ul {
	list-style: none;
}

.site-footer h4 {
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
	margin-bottom: 1rem;
}



.site-footer .connect .phone {
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
	font-weight: 600;
	margin: 1em auto;
	display: block;
}

.site-info {
	text-align: center;
	background-color: var(--color-theme-darkgreen);
	font-size: 0.8em;
	padding: 0.5em;
}

.site-info .footer-content {
	justify-content: space-evenly;
	align-items: center;
}

.site-info a{
	color: var(--color-theme-white);
}

.site-info .footer-logo {
	max-width: 5em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 1em;
}

/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/


.primary-sidebar .location-card {
	min-width: 20em;
	position: sticky;
	top: 70px
}

.locations .locations-list {
	display: flex;
	gap: .5em 0;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 14em;
}

@media (--content-query){
	.locations .locations-list {
		max-height: 10em;
	}
}

/* Social */
.social-links {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 20em;
	padding: 0 1em;
	margin: auto;
}

 .social-icon {
	margin: auto;
	max-width: 2.5em;
	transition: transform .2s;
}

.social-links .social-icon:hover {
    transform: scale(1.1);
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
