.location-info,
.services-cta,
.residential-services,
.commercial-services,
resources,
.feedback,
.yotpo {
	max-width: var(--content-width);
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin: auto;
}


@media (--content-query) {
	.location-info {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.location-info .location-content,
	.location-info .location-card  {
		margin: 1rem;
	}

	.location-info .location-content {
		flex-basis: 50em;
		order: 2;
	}

	.location-info .location-card {
		flex-basis: 20em;
		order: 1;
	}

}


/* Location Content */
.location-content .location-header {
	text-align: center;
	/* padding: 1rem; */
	margin-top: 2rem;
}

.location-content .location-header .entry-title {
	font-size: 3em;
	font-weight: 300;
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.location-content .location-header .location-subheader {
	font-family: var(--global-font-family);
	font-weight: 300;
	margin: 0;
}

.location-content .entry-content {
	margin-bottom: 2rem;
}



.location-list {
	list-style: none;
	padding: none;
}

@media (--content-query) {
	.location-list {
		display: flex;
		flex-flow: column wrap;
		max-height: 8em;
	}
}

/* Card */
.location-info .location-card {
	/* display: flex;
	flex-direction: column; */
	text-align: center;
	background-color: var(--color-theme-off-white);
	box-shadow: 0 0 6px rgba(51,51,51,.2);
}

.location-info .location-card h2{
	font-family: var(--global-font);
	font-weight: 300;
	font-size: 1.2em;
	max-width: 10em;
	margin: auto;
}

.location-info .location-card .phone {
	font-family: var(--highlight-font-family);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.4em;
}


.location-info .location-card .map {
	background-color: var(--color-theme-white);
	min-height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.location-info .location-card .phone:hover {
	text-decoration: underline;
}

.yotpo .star-clickable .text-m {
    font-size: .8em;
    margin: 0;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-stars {
	padding: 0;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star,
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star {
	font-size: 2em;
}

/* programs cta */
.programs-cta {
	background-color: var(--color-theme-darkgreen);
	background-size: cover;
	text-align: center;
	padding: 4rem 2rem;
}

.programs-cta > header h3 {
	color: var(--color-theme-white);
	font-size: 2.5em;
	font-family: var(--global-font);
	margin-bottom: 0;
}

.program-cards {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 3rem auto;
	align-items: center;
}

.program-cards .card {
	background-color: var(--color-theme-white);
	flex-basis: 20em;
	flex-shrink: 1;
	flex-grow: 1;
	padding-bottom: 2em;
	margin-bottom: 1rem;
	max-width: 30em;
	box-shadow: 0 0 6px rgba(51,51,51,.2);

}

.program-cards .card .popular {
	background-color: var(--color-theme-green);
	color: var(--color-theme-white);
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	padding: .5em;
	display: none;
}

.program-cards .card:nth-child(2) {
}

.program-cards .card:nth-child(2) .popular {
	display: block;
}

.program-cards .card .icon {
    display: inline-block;
    vertical-align: middle;
    padding: .5em;
}

.program-cards .card .program-category {
    font-size: 1.4em;
	color: var(--color-theme-green);
}

.program-cards .card .program-title {
	font-size: 3em;
	max-width: 8em;
	margin: 2rem auto;
	line-height: 1;
}

.program-cards .card .pricing {
	margin-bottom: 2rem;
}

.program-cards .card .pricing .price {
	font-family: var(--highlight-font-family);
	font-weight: 600;
	color: var(--color-theme-green);
	font-size: 3.5em;
}

.program-cards .card .pricing .small-price {
	color: var(--color-theme-green);
	font-size: .3em;
	vertical-align: super;
}

.program-cards .card .pricing .small {
	display: block;
}

/* services-cta */

.services-cta {
	text-align: center;
	padding: 1rem;
}


.services-cta > header {
	margin: 2rem auto;
}

.services-cta > header h4 {
	font-family: var(--global-font);
	font-weight: 300;
	margin-bottom: 0;
}


.services-cta > header h3 {
	font-size: 2.5em;
	color: var(--color-theme-darkgreen);
	margin: 0;
}

.service-cards{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.service-cards .card {
	background: var(--color-theme-off-white);
	box-shadow: 0 0 6px rgba(51,51,51,.2);
	margin: 2rem auto;
	flex-basis: 20em;
}

.service-cards .card .icon {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em;
	background: var(--color-theme-white);
	border: transparent;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(51,51,51,.2);
	width: 4em;
	height: 4em;
	margin-top: -2em;
}


.service-cards .card .service-category {
	font-size: 1.8em;
	font-family: var(--global-font);
	color: var(--color-theme-green);
	margin: 0.5em auto;
	text-transform: uppercase;
}

.service-cards .card .entry-content {
	padding: 0 1em 2em;
	text-align: left;
}

.services {
	margin-bottom: 5rem;
}

.services header {
	text-align: center;
	margin-bottom: 2em;
}

.services header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.services header h3 {
	margin: 0;
	font-size: 2em;
}

.services-list {
	list-style: none;
	padding: 0;
	margin: 2rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.services-list .services-item {
	flex-basis: 30em;
	display: flex;
}

.services-list .services-item .icon {
	padding: 0.5em;
	background: var(--color-theme-white);
	border: transparent;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(51,51,51,.2);
	width: 6em;
	height: 6em;
	flex-shrink: 0;
	order: 0;
	text-align: center;
	margin: 1em;
	transition: 0.2 opacity;
}

.services-list .services-item .icon.commercial {
	padding: 0;
	background: none;
	box-shadow: none;
}

.services-list .services-item:hover .icon {
	opacity: .8;
}

.services-list .services-item .icon img{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.services-list .services-item  .service-title {
	color: var(--color-theme-green);
	font-size: 1.5em;
	font-family: var(--global-font);
	margin: 0;
}


.resources {
	margin-bottom: 5rem;
	text-align: center;
}

.resources header {
	text-align: center;
	margin-bottom: 2em;
}

.resources header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.resources header h3 {
	margin: 0;
	font-size: 2em;
}

.resources .entry-content {
	max-width: 60em;
	margin: 4rem auto;
}


.feedback {
	margin-bottom: 5rem;
	text-align: center;
}

.feedback header {
	text-align: center;
	margin-bottom: 2em;
}

.feedback header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.feedback header h3 {
	margin: 0;
	font-size: 2em;
}

.feedback .manager {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.feedback .manager .manager-headshot {
	background: var(--color-theme-off-white);
	flex-basis: 30em;
}

.feedback .manager .manager-info {
	flex-basis: 40em;
}
