/**
 * Custom styles for the Single Location template.
 */

@import "_program-cards.css";
@import "_resource_slider.css";

.location-section {
	margin-bottom: 3rem;
}

@media (--content-query) {

	.location-info {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.location-info .location-content,
	.location-info .location-card {
		margin: 1rem;
	}

	.location-info .location-content {
		flex-basis: 30em;
		order: 2;
		flex-grow: 2;
	}

	.location-info .location-card {
		flex-basis: 20em;
		order: 1;
	}
}

/* Location Content */
.location-content .location-header {
	text-align: center;
	margin-top: 2rem;
}

.location-content .location-header .entry-title {
	font-size: 3em;
	font-weight: 300;
	border-bottom: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.location-content .location-header .location-subheader {
	font-family: var(--global-font-family);
	font-weight: 300;
	margin: 0;
}

.location-content .entry-content {
	margin-bottom: 2rem;
}

.location-list {
	list-style: none;
	padding: none;
}

@media (--content-query) {

	.location-list {
		display: flex;
		flex-flow: column wrap;
		max-height: 8em;
	}
}

/* Card */
.location-info .location-card {
	text-align: center;
	background-color: var(--color-theme-off-white);
	box-shadow: 0 0 6px rgba(51, 51, 51, 0.2);
}

.location-info .location-card h2 {
	font-family: var(--global-font);
	font-weight: 300;
	font-size: 1.2em;
	max-width: 10em;
	margin: auto;
}

.location-info .location-card .phone {
	font-family: var(--highlight-font-family);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.4em;
}

.location-info .location-card .map {
	background-color: var(--color-theme-white);
	min-height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.location-info .location-card .phone:hover {
	text-decoration: underline;
}

.yotpo .pull-left {
	float: none;
}

.yotpo .star-clickable .text-m {
	font-size: 0.8em;
	margin: 0;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-stars {
	max-width: 100%;
	padding: 0;
	display: inline-block;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star,
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star {
	font-size: 2em;
}

/* programs cta */
.programs-cta {
	background-color: var(--color-theme-darkgreen);
	background-size: cover;
	text-align: center;
	padding: 4rem 2rem;
}

.programs-cta > header h3 {
	color: var(--color-theme-white);
	font-size: 2.5em;
	font-family: var(--global-font);
	margin-bottom: 0;
}

.programs-cta .program-cards {
	max-width: var(--content-width);
	margin: 2rem auto;
}

/* services-cta */

.services-cta {
	text-align: center;
	padding: 1rem;
}

.services-cta > header {
	margin: 2rem auto;
}

.services-cta > header h4 {
	font-family: var(--global-font);
	font-weight: 300;
	margin-bottom: 0;
}

.services-cta > header h3 {
	font-size: 2.5em;
	color: var(--color-theme-darkgreen);
	margin: 0;
}

.service-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.service-cards .card {
	background: var(--color-theme-off-white);
	box-shadow: 0 0 6px rgba(51, 51, 51, 0.2);
	margin: 2rem auto;
	flex-basis: 18rem;
}

.service-cards .card .card-image {
	background-color: var(--color-theme-darkgreen);
	height: 200px;
	overflow: hidden;
}

.service-cards .card .icon {
	display: inline-block;
	vertical-align: middle;
	padding: 1.2em;
	background: var(--color-theme-white);
	border: transparent;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(51, 51, 51, 0.2);
	width: 5em;
	height: 5em;
	margin-top: -2em;
	overflow: hidden;
}

.service-cards .card .icon svg * {
	fill: var(--color-theme-green);
}

.service-cards .card .service-category {
	font-size: 1.4em;
	font-family: var(--global-font);
	color: var(--color-theme-green);
	margin: 0.5em auto;
	text-transform: uppercase;
	padding: 0 1rem;
}

.service-cards .card .entry-content {
	padding: 0 1em 2em;
	text-align: left;
}

.services {
	margin-bottom: 5rem;
}

.services header {
	text-align: center;
	margin-bottom: 3rem;
}

.services header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.services header h3 {
	margin: 0;
	font-size: 2em;
}

.services-list {
	list-style: none;
	padding: 1rem;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;
}

@media (--content-query) {
	.services-list {
		gap: 2em;
		justify-content: space-between;
		flex-direction: row;
	}
}

.services-list .services-item {
	display: grid;
	grid-template-areas: "icon title" "icon info";
	gap: 1rem;
	position: relative;
	flex-grow: 1;
}

@media (--content-query) {

	.services-list .services-item {
		flex-basis: 30em;
		max-width: 50%;
		grid-template-areas: "icon title" "icon info";
		row-gap: 0;
		grid-template-columns: 1fr 9fr;
		justify-items: flex-start;
		align-content: stretch;
	}

	.services-list .services-item.has-info {
		cursor: pointer;
	}
}

.services-list .services-item .icon {
	box-shadow: var(--global-drop-shadow);
	grid-area: icon;
	transition: .25s box-shadow, .25s background-color;
}

.services-list .services-item.has-info:hover .icon {
	box-shadow: var(--global-drop-shadow-raised);
}

.services-list .services-item.has-info:hover .icon svg * {
	fill: var(--color-theme-darkgreen);
	transition: fill .25s;
}

.services-list .services-item .service-title {
	color: var(--color-theme-green);
	font-size: 1.5em;
	font-family: var(--global-font);
	margin: 0;
	text-align: left;
	transition: .25s color;
}


@media (--content-query) {
	.services-list .services-item .service-title {
		text-align: left;
	}

	.services-list .services-item.has-info:hover .service-title {
		color: var(--color-theme-darkgreen);
	}


	.services-list .services-item.open .service-title,
	.services-list .services-item.open.has-info:hover .service-title {
		color: var(--color-theme-yellow);
	}
}

.services-list .services-item .service-info {
	grid-area: info;
	background: rgba( 255, 255, 255, .85 );
	text-align: left;
	max-width: 100%;
	/* transition: max-height .5s, opacity .25s; */
}

.services-list .services-item .indicator {
	display: none;
}

@media (--content-query) {

	.services-list .services-item .service-info {
		max-height: 4em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		opacity: .4;
		padding-bottom: 1rem;
		z-index: 10;
		pointer-events: none;
		transition: .25s max-height;
	}

	.services-list .services-item.has-info:hover .service-info {
		opacity: .7;
	}

	.services-list .services-item .indicator {
		font-weight: 600;
		opacity: 0;
		transition: 0.25s opacity;
		grid-area: info;
		display: inline-block;
		justify-self: center;
		align-self: flex-start;
		margin-top: 1.4rem;
	}

	.services-list .services-item.has-info:hover .indicator {
		opacity: 1;
	}

	.services-list .services-item.has-info.open .indicator {
		display: none;
	}

	.services-list .services-item.open .service-info,
	.services-list .services-item.open:hover .service-info {
		max-height: 14em;
		overflow: hidden;
		opacity: 1;
		white-space: normal;
		pointer-events: all;
	}

}

.services-list .services-item .services-link {
	display: block;
	grid-column: 1/-1;
	grid-row: 1/-1;
	width: 100%;
	z-index: 10;
}

@media (--content-query) {
		.services-list .services-item .services-link {
			opacity: 0;
			transition: 0.25s opacity;
			font-weight: 600;
			text-align: right;
		}

		.services-list .services-item.open .services-link {
			opacity: 1;
		}
}

.commercial-services .services-item .icon {
	background-color: var(--color-theme-green);
}

.commercial-services .services-item .icon svg *,
.commercial-services .services-item.has-info:hover .icon svg * {
	fill: var(--color-theme-white);
}

.commercial-services .services-item.has-info:hover .icon {
	background-color: var(--color-theme-darkgreen);
}

.resources {
	margin-bottom: 5rem;
	text-align: center;
}

.resources header {
	text-align: center;
	margin-bottom: 2em;
}

.resources header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.resources header h3 {
	margin: 0;
	font-size: 2em;
}

.resources .entry-content {
	max-width: 60em;
	margin: 4rem auto;
}

.feedback {
	margin-bottom: 5rem;
	text-align: center;
}

.feedback header {
	text-align: center;
	margin-bottom: 2em;
}

.feedback header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.feedback header h3 {
	margin: 0;
	font-size: 2em;
}

.feedback .manager {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1em;
}

.feedback .manager .manager-image {
	background: var(--color-theme-off-white);
	flex-shrink: 1;
	align-self: center;
}

.feedback .manager .manager-info {
	flex-basis: 40em;
}
