/**
 * Custom styles for the Single Location template.
 */

@import "_program-cards.css";


/* programs cta */
.programs-cta {
	background-color: var(--color-theme-darkgreen);
	background-image: url(../images/grass.jpg);
	background-attachment: fixed;
	text-align: center;
	padding: 4rem 2rem;
	margin-bottom: 2rem;
}

.programs-cta > header h3 {
	color: var(--color-theme-white);
	font-size: 2.5em;
	font-family: var(--global-font);
	margin-bottom: 0;
}

.programs-cta .program-cards {
	max-width: var(--content-width);
	margin: 2rem auto;
}

@media (--content-query) {

	.programs-cta {
		max-height: 25rem;
		margin-bottom: 18rem;
	}
}


/* services-cta */

.services-cta {
	text-align: center;
	padding: 1rem;
}

.services-cta > header {
	margin: 2rem auto;
}

.services-cta > header h4 {
	font-family: var(--global-font);
	font-weight: 300;
	margin-bottom: 0;
}

.services-cta > header h3 {
	font-size: 2.5em;
	color: var(--color-theme-darkgreen);
	margin: 0;
}

.service-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.service-cards .card {
	background: var(--color-theme-off-white);
	box-shadow: 0 0 6px rgba(51, 51, 51, 0.2);
	margin: 2rem auto;
	flex-basis: 18rem;
}

.service-cards .card .card-image {
	background-color: var(--color-theme-darkgreen);
	height: 200px;
	overflow: hidden;
}

.service-cards .card .icon {
	display: inline-block;
	vertical-align: middle;
	padding: 1.2em;
	background: var(--color-theme-white);
	border: transparent;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(51, 51, 51, 0.2);
	width: 5em;
	height: 5em;
	margin-top: -2em;
	overflow: hidden;
}

.service-cards .card .icon svg * {
	fill: var(--color-theme-green);
}

.service-cards .card .service-category {
	font-size: 1.4em;
	font-family: var(--global-font);
	color: var(--color-theme-green);
	margin: 0.5em auto;
	text-transform: uppercase;
	padding: 0 1rem;
}

.service-cards .card .entry-content {
	padding: 0 1em 2em;
	text-align: left;
}

.services {
	margin-bottom: 5rem;
}

.services header {
	text-align: center;
	margin-bottom: 3rem;
}

.services header h4 {
	margin-bottom: 0;
	font-family: var(--global-font);
	font-weight: 300;
}

.services-section .services-list {
	list-style: none;
	padding: 1rem;
	margin: 2rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

@media (--content-query) {
	.services-section .services-list {
		gap: 2em;
		justify-content: space-between;

	}
}

.services-section .services-list .services-item {
	flex-basis: 30em;
	display: grid;
	grid-template-areas: "icon" "info";
	justify-items: center;
	align-content: center;
	gap: 1rem;
	cursor: pointer;
}

@media (--content-query) {
	.services-section .services-list .services-item {
		grid-template-areas: "icon info";
		row-gap: 0;
		grid-template-columns: 1fr 9fr;
		justify-items: flex-start;
		align-content: stretch;
	}

}

.services-section .services-list .services-item > * {
	grid-row: 1/1;
}

.services-section .services-list .services-item .services-link {
	display: block;
	grid-column: 1/-1;
	grid-row: 1/-1;
	width: 100%;
	z-index: 10;
}

.services-section .services-list .services-item .icon {
	box-shadow: var(--global-drop-shadow);
	grid-area: icon;
	transition: .25s box-shadow, .25s background-color;
}

.services-section .services-list .services-item:hover .icon {
	box-shadow: var(--global-drop-shadow-raised);
}

.services-section .services-list .services-item:hover .icon svg * {
	fill: var(--color-theme-darkgreen);
	transition: fill .25s;
}


.services-section .services-list .services-item .service-info {
	grid-area: info;
	text-align: center;
	display: none;
}

@media (--content-query) {
	.services-section .services-list .services-item .service-info {
		text-align: left;
	}
}
.services-section .services-list .services-item .service-title {
	color: var(--color-theme-green);
	font-size: 1.5em;
	font-family: var(--global-font);
	margin: 0;
	text-align: center;
	transition: .25s color;
}

.services-section .services-list .services-item:hover .service-title {
	color: var(--color-theme-darkgreen);

}


.promise, .services-section {
    margin-bottom: 5rem;
}

@media (--content-query) {
	.services-section .services-list .services-item .service-title {
		text-align: left;
	}
}

.commercial-services {
	/* background-color: var(--color-theme-off-white); */
}

.commercial-services .services-item .icon {
	background-color: var(--color-theme-green);
}

.commercial-services .services-item .icon svg * {
	fill: var(--color-theme-white);
}

.commercial-services .services-item:hover .icon {
	background-color: var(--color-theme-darkgreen);
}

.resources {
	margin-bottom: 5rem;
	text-align: center;
}

.resources header {
	text-align: center;
	margin-bottom: 2em;
}


.resources .entry-content {
	max-width: 60em;
	margin: 4rem auto;
}

